<div class="container-body">
        <div class="container-sign animated" id="container">
            <div class="form-container sign-up-container">
                <button id="close-btn-left"><i class="far fa-times-circle"></i></button>
                <div class="sign-logo">
                    <a class="navbar-brand" href=""><i class="fas fa-utensils nav-icon sign-icon"></i> <span class="logo-foody sign-foody">Foody</span> <span class="Blinders-logo">Blinders</span></a>
                </div>
                <form class="sign-form" action="#">
                    <h1 class="sign-h1">Create Account</h1>
                    <!-- <div class="social-container">
                        <a class="sign-a" href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a class="sign-a" href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a class="sign-a" href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span class="sign-span">or use your email for registration</span> -->
                    <input class="sign-input" type="text" placeholder="Name" />
                    <input class="sign-input" type="email" placeholder="Email" />
                    <input class="sign-input" type="password" placeholder="Password" />
                    <button class="sign-btn">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <div class="sign-logo">
                    <a class="navbar-brand" href=""><i class="fas fa-utensils nav-icon sign-icon"></i> <span class="logo-foody sign-foody">Foody</span> <span class="Blinders-logo">Blinders</span></a>
                </div>
                <form class="sign-form" action="#">
                    <h1 class="sign-h1">Sign in</h1>
                    <!-- <div class="social-container">
                        <a class="sign-a" href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a class="sign-a" href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a class="sign-a" href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span class="sign-span">or use your account</span> -->
                    <input class="sign-input" type="email" placeholder="Email" />
                    <input class="sign-input" type="password" placeholder="Password" />
                    <a class="sign-a" href="#">Forgot your password?</a>
                    <button class="sign-btn">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1 class="sign-h1-tag">Order Now!</h1>
                        <p class="sign-para">To eat more delicious food, login with your personal info.</p>
                        <button class="ghost sign-btn" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <button id="close-btn-right"><i class="far fa-times-circle"></i></button>
                        <h1 class="sign-h1-tag">Hungry?</h1>
                        <p class="sign-para">Enter your personal details and start Ordering.</p>
                        <button class="ghost sign-btn" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<main id="main-section" class="main-menu-section">
    <section class="nav-bar-section">
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
            <a class="navbar-brand animated tada delay-5s" href=""><i class="fas fa-utensils nav-icon"></i> <span class="logo-foody">Foody</span> <span class="Blinders-logo">Blinders</span></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon nav-button"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about-us">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sign-in-link" href="#">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="food-main-section">
        <div class="food-section">
            <div class="food-item">
                <img src="<%= asset_path('pasta.jpg') %>" alt="BURGER" class="food-pic">
                <div class="food-info">
                    <h1>PASTA</h1>
                </div>
            </div>
            <div class="food-item">
                <img src="<%= asset_path('burger.jpg') %>" alt="BURGER" class="food-pic">
                <div class="food-info">
                    <h1>BURGER</h1>
                </div>
            </div>
            <div class="food-item">
                <img src="<%= asset_path('pizza.jpg') %>" alt="BURGER" class="food-pic">
                <div class="food-info">
                    <h1>PIZZA</h1>
                </div>
            </div>

            <div class="food-item">
                <img src="<%= asset_path('salad.jpg') %>" alt="BURGER" class="food-pic">
                <div class="food-info">
                    <h1>SALAD</h1>
                </div>
            </div>

            <div class="food-item">
                <img src="<%= asset_path('shakes.jpg') %>" alt="BURGER" class="food-pic">
                <div class="food-info">
                    <h1>SHAKES</h1>
                </div>
            </div>
            <div class="food-section-line">
                <h1>EAT WHAT YOU<span class="hungry"> LOVE</span>
                </h1>
            </div>
        </div>
    </section>
    <section class="Menu-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 menu-category">
                    <div class="menu-category-name">
                        <h3>Burgers</h3>
                    </div>
                    <div class="menu-category-name">
                        <h3>Pizza</h3>
                    </div>
                    <div class="menu-category-name">
                        <h3>Pasta</h3>
                    </div>
                    <div class="menu-category-name">
                        <h3>Shakes</h3>
                    </div>
                </div>
                <div class="col-6 menu-item-section">
                    <div class="menu-items">
                        <div class="row justify-content-center">   
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-card">
                                    <img class="menu-item-img-src" src="<%= asset_path('burger.jpg') %>" alt="BURGER" width="600" height="400">
                                        <div class="menu-item-name">
                                            <h3 class="menu-item-name-header">Burger cbksmn efsdzkb helloejf chih</h3>
                                            <p class="menu-item-name-para">isbcbsuabcdibdcisdbcdjvchdsdjcdhisbcbsuabcdibdcisdbc djvchd sdjcdh isbcbsuabcd ibdcisdbc djvchd sdjcdh<p>
                                            <h3 class="menu-item-name-price"><i class="fas fa-rupee-sign"></i> 180.00</h3>
                                            <div class="menu-item-order-now">
                                                <a class="menu-item-order-now-link" href="#">Add to Cart</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 ">
                            <div class="menu-card">
                            <img class="menu-item-img-src" src="<%= asset_path('burger.jpg') %>" alt="BURGER" width="600" height="400">
                            <div class="menu-item-name">
                            <h3 class="menu-item-name-header">Burger cbksmn hkkkxkadbvd sdkbvjdbvd kdsvbjdbd kdjbcdkjc dkjbkb kb </h3>
                            <p class="menu-item-name-para">isbcbsuabcd ibdcisdbc djvchd sdjcdh<p>
                            </div>
                            <div class="menu-price">
                            </div>
                            </div>

                            </div>
                            <div class="col-lg-3 col-sm-6">
                            <div class="menu-card">

                                </div>

                            </div>
                            <div class="col-lg-3 col-sm-6">
                            <div class="menu-card">

                                </div>

                            </div>
                            
                        </div>
                    </div>
                    <div class="menu-items ">
                        <div class="row justify-content-center">
                
                            <div class="col-lg-3 col-sm-6 menu-col ">
                                <div class="menu-card">

                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 menu-col ">
                            <div class="menu-card">

                                </div>
                            </div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-3 hello">
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid contact" id="contact">
        <div class="row row-contact">
            <div class="col-lg-4 col-md-4 col-sm-12 col-contact">
                <a class="contact-icon" href="#"><i class="fas fa-utensils nav-icon "></i> <span class="logo-foody">Foody</span> <span class="Blinders-logo">Blinders</span></a>
                <h1 class="contact-header1">10 AM - 11 PM</h1>
                <p class="contact-para">No 8/3, Elgi Nagar,</p>
                <p class="contact-para">singanallur,</p>
                <p class="contact-para">Coimbatore - 641111</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-contact">
                <h1 class="contact-header">Connect with Us</h1>
                <p class="contact-para"><i class="fas fa-phone"></i> 9629028119</p>
                <p class="contact-para"><i class="far fa-envelope"></i> mail@gmail.com</p>
                <ul class="social-icon-ul">
                    <li class="social-icon-link f"><a><i class="fab fa-facebook social-icon"></i></a></li>
                    <li class="social-icon-link i "><a><i class="fab fa-instagram social-icon"></i></a></li>
                    <li class="social-icon-link f"><a><i class="fab fa-twitter social-icon"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-contact">
                <h1 class="contact-header">Useful Links</h1>
                <ul>
                    <li class="contact-link">
                        <a class="contact-link" href="/">Home</a>
                    </li>
                    <li class="contact-link">
                        <a class="contact-link" href="/#about-us">About</a>
                    </li>
                    <li class="contact-link">
                        <a class="contact-link" href="#">Menu</a>
                    </li>
                    <li class="contact-link">
                        <a class="contact-link" id="sign-in-link-b" href="#">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        </div>
    </section>
    <p class="Created"><i class="fas fa-utensils nav-icon "></i> Created by Rohit | Avinash <i class="fas fa-utensils nav-icon  "></i></p>
</main>