
<main class="invoicedash">
    
<div class="wrapper">
  
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">
         DASHBOARD
      </div>
      <div class="logo" style="margin-left:auto;">
         SIGNOUT
      </div>
      <ul>
        <li><a href="/signout" data-method="delete">
          <i class="fas fa-user" ></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="/owner" style="text-decoration: none;">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Menus</span>
          </a></li>
        <li><a href="#" style="text-decoration: none;">
          <span class="icon"><i class="	fas fa-child"></i></span>
          <span class="title">Users</span>
          </a></li>
        <li><a href="/clerkdash"style="text-decoration: none;" >
          <span class="icon"><i class="fas fa-male"></i></span>
          <span class="title">Clerks</span>
          </a></li>
        <li><a href="/salesdash"style="text-decoration: none;" >
          <span class="icon"><i class="fab fa-btc"></i></span>
          <span class="title">Sales Report</span>
          </a></li>
        <li><a href="/orderdash" class="active" style="text-decoration: none;" >
          <span class="icon"><i class="fas fa-cart-plus"></i></span>
          <span class="title">Orders</span>
          </a></li>
    </ul>
  </div>
  <div class="main_container">
     <div id="invoice">

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a class="navbar-brand" href=""><i class="fas fa-utensils nav-icon sign-icon"></i> 
                        <span class="logo-foody sign-foody">Foody</span> <span class="Blinders-logo" style="color:#ffbf00;">Blinders</span>
                        </a>
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                            <a target="_blank" href="">
                            FOODY BLINDERS
                            </a>
                        </h2>
                        <div>455 Foggy Heights, AZ 85004, US</div>
                        <div>9003180101</div>
                        <div>foodyblinders@gmail.com</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h1 class="to" style="font-weight:bold;font-size:40px"><%=@order.user.first_name.titlecase%><%=" "%><%=@order.user.last_name.titlecase%></h1>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">INVOICE 3-2-1</h1>
                        <div class="date">Date of Invoice: <%= Time.now.strftime('%B %e %Y') %></div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-left">ITEM</th>
                            <th class="text-right">PRICE</th>
                            <th class="text-right">QTY</th>
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%item=@order.order_items%>
                        <%i=1%>
                        <%item.each do |item|%>
                        <tr>
                            <td class="no"><%=i%></td>
                            <td class="text-left"><%=item.item_name%></td>
                            <td class="unit"><%=item.item_price%></td>
                            <td class="qty"><%=item.incart%></td>
                            <td class="total"><%=item.item_price*item.incart%></td>
                        </tr>
                         <%i=i+1%>
                         <%end%>
                    </tbody>
                    <%total=0%>
                 <%item.each do |item|%>
                    <%total=total+(item.item_price*item.incart)%>
                 <%end%>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td><%=total%></td>
                        </tr>
                    </tfoot>
                </table>
                
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                </div>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>
 </div>
  
<script>
 $('#printInvoice').click(function(){
            Popup($('.invoice')[0].outerHTML);
            function Popup(data) 
            {
                window.print();
                return true;
            }
        });
        
</script>

  </div>
</main>