
<main class="usersdash">
    
<div class="wrapper">
  
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">
         DASHBOARD
      </div>
      <div class="logo" style="margin-left:auto;">
         SIGNOUT
      </div>
      <ul>
        <li><a href="/signout" data-method="delete">
          <i class="fas fa-user" ></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="/owner" style="text-decoration: none;">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Menus</span>
          </a></li>
        <li><a href="/userdash"style="text-decoration: none;">
          <span class="icon"><i class="	fas fa-child"></i></span>
          <span class="title">Users</span>
          </a></li>
        <li><a href="/clerkdash"style="text-decoration: none;">
          <span class="icon"><i class="fas fa-male"></i></span>
          <span class="title">Clerks</span>
          </a></li>
        <li><a href="/salesdash"style="text-decoration: none;" >
          <span class="icon"><i class="fab fa-btc"></i></span>
          <span class="title">Sales Report</span>
          </a></li>
        <li><a href="/orderdash" class="active"style="text-decoration: none;">
          <span class="icon"><i class="fas fa-cart-plus"></i></span>
          <span class="title">Orders</span>
          </a></li>
    </ul>
  </div>
  <div class="main_container">
      <div class="allorder"> 
      <table id="customers">
        <tr>
          <th>Order ID</th>
          <th>NAME</th>
          <th>DATE</th>
          <th>AMOUNT</th>
          <th>STATUS</th>
        </tr>
        <tr>
          
            
            <%@orders.each do |order|%>
                <td><%=order.id%></td>
                <td><%=order.user.name%></td>
                <td><%=order.date.to_time.strftime('%B %e %Y')%></td>
                <td><%=order.cost%></td>
                <td><%=order.delivered_status ? "Delivered" : "Pending" %></td>
            <%end%>    
        </tr>
      </table>
    
    </div>
  </div>
</main>